extends layouts/main
include mixins/videoBlock

block content 
    .user-profile
        .user-profile__header
            if !user.avatarUrl
                img.u-avatar-default(src="https://mytube1213.s3.ap-northeast-2.amazonaws.com/avatar/275dacc68a75eb7a1b0b7f1b1b63ef56")
            else
                img.u-avatar(src=user.avatarUrl)
            h4.profile__username=user.name
            h4.profile__useremail=user.email
        if loggedUser
            if user.id === loggedUser.id
                .user-profile__btns
                    a(href=`/users${routes.editProfile}`)
                        button ✏️ Edit Profile
                    a(href=`/users${routes.changePassword}`)
                        button 🔒 Change Password
        .uploaded-videos 
            each video in user.videos 
                +videoBlock({
                    id: video.id,
                    title: video.title,
                    views: video.views,
                    videoFile: video.fileUrl,
                    creatorName: user.name,
                    creatorAvatar: user.avatarUrl
                })