mixin videoBlock(video = {})
    .videoBlock
        a(href=routes.videoDetail(video.id))
            video.videoBlock__thumbnail(src=`${video.videoFile}#t=0.5`, muted)
            .videoBlock__info
                if !video.creatorAvatar
                    img.videoBlock__creatorAvatar(src="https://i.imgur.com/Zf9ELgw.jpg")
                else
                    img.videoBlock__creatorAvatar(src=video.creatorAvatar)
                .videoBlock__text
                    h4.videoBlock__title=video.title
                    h4.videoBlock__creatorName=video.creatorName
                    h6.videoBlock__views 조회수 #{video.views}회