extends layouts/main
include mixins/videoPlayer

block content 
    .video-detail__container
        +videoPlayer({
            src: video.fileUrl
        })
        .video__info
            if loggedUser
                if video.creator.id === loggedUser.id
                    a(href=routes.editVideo(video.id))
                        button Edit video
            h5.video__title=video.title
            span.video__views 조회수 #{video.views}회 • 
            span(id=video.createdAt).video__createDate=video.createdAt
        .video__author
            a(href=routes.userDetail(video.creator.id))
                if video.creator.avatarUrl === undefined
                    img.u-avatar-video(src="https://mytube1213.s3.ap-northeast-2.amazonaws.com/avatar/275dacc68a75eb7a1b0b7f1b1b63ef56")
                else
                    img.u-avatar-video(src=video.creator.avatarUrl)
            a(href=routes.userDetail(video.creator.id)).creator__name=video.creator.name
        .video__description
            p.video__description__text=video.description
            .description_moreDetails 더보기
        .video__comments
            span.video__comment-number#jsCommentNumber=video.comments.length
                span|개의 덧글
            if loggedUser
                form.add__comment#jsAddComment
                    input(type="text", placeholder="Add a comment", name="comment")
            else
                form.add__comment#jsCommentLogout
                    input(id=routes.login, type="text", placeholder="덧글을 작성하려면 로그인해주세요.")
            ul.video__comments-list#jsCommentList
                each comment in video.comments.reverse()    
                    li(id=comment.id)
                        span=comment.text
                        if loggedUser
                            if comment.creator._id == loggedUser.id
                                button.video__comments-delete.jsCommentDelBtn(type="button")='❌'
                        