extends layouts/main
include mixins/videoPlayer

block content 
    .video-detail__container
        +videoPlayer({
            src: video.fileUrl
        })
        .video__info
            if loggedUser
                if video.creator.id === loggedUser.id
                    a(href=routes.editVideo(video.id))
                        button Edit video
            h5.video__title=video.title
            span.video__views 조회수 #{video.views}회 • 
            span(id=video.createdAt).video__createDate=video.createdAt
        .video__author
            a(href=routes.userDetail(video.creator.id))
                if video.creator.avatarUrl === undefined
                    img.u-avatar-video(src="https://mytube1213.s3.ap-northeast-2.amazonaws.com/avatar/275dacc68a75eb7a1b0b7f1b1b63ef56")
                else
                    img.u-avatar-video(src=video.creator.avatarUrl)
            a(href=routes.userDetail(video.creator.id)).creator__name=video.creator.name
        .video__description
            p.video__description__text=video.description
            .description_moreDetails 더보기
        .video__comments
            span.video__comment-number#jsCommentNumber=video.comments.length
                span|개의 덧글
            .video__comment-form
                if loggedUser
                    img.u-avatar-comment(src=loggedUser.avatarUrl)
                    form.add__comment#jsAddComment
                        input(type="text", placeholder="Add a comment", name="comment")
                else
                    form.add__comment#jsCommentLogout
                        input(id=routes.login, type="text", placeholder="덧글을 작성하려면 로그인해주세요.")
            ul.video__comments-list#jsCommentList
                each comment in comments.reverse()    
                    li(id=comment.id)
                        img.u-avatar-comment(src=comment.creator.avatarUrl)
                        .video__comments-text
                            span=comment.creator.name
                            span=comment.text
                        if loggedUser && comment.creator._id == loggedUser.id
                            i.fas.fa-ellipsis-v.video__comments-ellipsis.jsCommentEllipsis
                        .comments__ellipsisbox
                            .comments__editBtn
                                i.fas.fa-pen
                                span 수정
                            .comments__delteBtn#jsCommentDelBtn
                                i.fas.fa-trash
                                span 삭제
