mixin videoBlock(video = {})
    .videoBlock
        a(href=routes.videoDetail(video.id))
            video.videoBlock__thumbnail(src=video.videoFile, autoplay=false)
            .videoBlock__info
                img.videoBlock__creatorAvatar(src=video.creatorAvatar)
                .videoBlock__text
                    h4.videoBlock__title=video.title
                    h4.videoBlock__creatorName=video.creatorName
                    h6.videoBlock__views 조회수 #{video.views}회